<footer class="site-footer">
  <div class="container footer-wrapper">
    <div class="row">
      <div class="col-md-5 footer-left">
        <div>
          <img src="/images/open-city-footer.png" alt="opcity-logo" width="387px" height="auto">
        </div>
        <p>Democratising data of India’s cities</p>
        <a href="https://opencity.in/subscribe/" class="substack-btn" tabindex="-1" role="button"
            aria-disabled="true">Subscribe to our Substack</a>
      </div>
      <div class="col-md-3 footer-middle">
        <ul class="list-unstyled">
          <li><a href="https://opencity.in/about-us" class="text-decoration-none">About Us</a></li>
          <li><a href="https://data.opencity.in/dataset/" class="text-decoration-none">Datasets</a></li>
          <li><a href="https://opencity.in/category/explainers/" class="text-decoration-none">Explainers</a></li>
          <li><a href="https://opencity.in/category/analysis/" class="text-decoration-none">Analysis</a></li>
          <li><a href="https://opencity.in/category/jams/" class="text-decoration-none">Jams</a></li>
          <li><a href="https://oorvani.org/support-us" class="text-decoration-none">Donate</a></li>
        </ul>
      </div>
      <div class="col-md-4 footer-right">
        <p>A Programme of</p>
        <img src="/images/oorvani-with-tagline.png" alt="oorvani logo">
      </div>
    </div>
  </div>
</footer>
