<footer class="site-footer">
  <div class="container footer-wrapper">
    <div class="row">
      <div class="col-md-5 footer-left">
        <div>
          <img src="/images/open-city-footer.png" alt="opcity-logo" width="387px" height="auto">
        </div>
        <p>Democratising data of India’s cities</p>
        <a href="https://opencity.in/subscribe/" class="substack-btn" tabindex="-1" role="button"
            aria-disabled="true">Subscribe to our Substack</a>
      </div>
      <div class="col-md-3 footer-middle">
        <ul class="list-unstyled">
          <li><a href="" class="text-decoration-none">About us</a></li>
          <li><a href="" class="text-decoration-none">Code of Conduct</a></li>
          <li><a href="" class="text-decoration-none">Contact</a></li>
          <li><a href="" class="text-decoration-none">Request Data</a></li>
          <li><a href="" class="text-decoration-none">Support us</a></li>
        </ul>
      </div>
      <div class="col-md-4 footer-right">
        <p>A Programme of</p>
        <img src="/images/oorvani-with-tagline.png" alt="oorvani logo">
        <p class="attribution">
            Designed with <a href="https://wordpress.org" rel="nofollow">WordPress</a> by <a
                href="https://sputznik.com" target="_blank" rel="noreferrer noopener nofollow">Sputznik</a>
        </p>
      </div>
    </div>
  </div>
</footer>