<div class="module-promotion card box">
    <h1 class="page-heading">{{ _("India's leading civic-tech and urban data commons") }}</h1>
    <p class="intro">
    {% trans %}Discover urban data, research, policies, and public records that support informed civic action and urban problem solving.
    {% endtrans %}
    </p>

    <a href="{{ h.url_for('home.about') }}" 
       class="learn-more-btn" 
       tabindex="-1" 
       role="button"
       aria-disabled="true">
       Learn More <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
        </svg>
    </a>  
</div>